.row 
  .col-sm-12 
    .card 
      .card-header 
        %h1= "Condition Groups"
        %a
          = link_to "Add Name", new_condition_group_path(), class: "waves-effect waves-light btn"
.row 
  .col-sm-12 
    .card 
      .card-body
        %table
          %thead
            %tr
              %th Name
              %th Actions
          %tbody
            -@condition_groups.each do |cd|
              %tr
                %td 
                  = cd.name
                %td.text-center
                  .btn-group 
                  = link_to "Delete", condition_group_path(cd), method: :delete, class: "waves-effect waves-light btn"
                  = link_to "Edit", edit_condition_group_path(cd), class: "waves-effect waves-light btn"
