!!!
%html
  %head
    %title MaterializeApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav
      .nav-wrapper
        %a.brand-logo{:href => "#"} Logo
        %ul#nav-mobile.right.hide-on-med-and-down
          %li
            = link_to "Condition Groups", condition_groups_path
          %li
            = link_to "Conditions", conditions_path
    .container
      - flash.each do |message_type, message|
        %p.lead
          %strong.callout= message
      = yield
