!!!
%html
  %head
    %title MaterializeApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav
      .nav-wrapper
        %a.brand-logo{:href => "#"} Logo
        %ul#nav-mobile.right.hide-on-med-and-down
          %li
            %a{:href => "condition_groups#index"} Condition Groups
          %li
            %a{:href => "conditions#index"} Conditions
    .container
      = yield
